.techniques-page {
  margin-left: 220px; /* Adjust for the sidebar */
  padding: 2rem;
}

/* Technique list styles */
.technique-list {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Spacing between list items */
}

.technique-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Blue background for box items */
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  min-height: 80px; /* Ensure all boxes are the same height */
  max-width: 400px; /* Ensure the boxes are the same width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.technique-list li:hover {
  background-color: #0056b3; /* Darken the background on hover */
}

.technique-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  flex-grow: 1;
}

.technique-icon {
  font-size: 2rem; /* Make icon slightly larger */
  margin-right: 1rem;
}

.technique-content h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.technique-content p {
  margin: 0;
  font-size: 1rem;
  color: white;
}

/* Customized Breathing Section */
.customized-section {
  margin-top: 2rem;
  padding: 0.8rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customized-section h2 {
  font-size: 1.5rem;
  margin: 0;
}

.customized-section p {
  font-size: 0.9rem;
  margin: 0;
}

.section-icon {
  margin-right: 8px;
  color: #007bff;
}

/* Adjust the customized button to be smaller and more in line with other buttons */
.customize-button {
  background-color: rgb(68, 201, 245);
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
  margin-left: 1rem;
}

.customize-button:hover {
  background-color: rgb(176, 196, 222);
}

/* Style for technique items */
.technique-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.technique-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: rgb(68, 201, 245);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.technique-link:hover {
  background-color: lightsteelblue;
}
