.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: auto;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Underline active tab */
.nav-links li.active a {
  text-decoration: underline; /* Add underline */
  color: #007bff; /* Optional: Highlight active link color */
  font-weight: bold; /* Optional: Bold text for active link */
}

/* Remove underline from non-active links */
.nav-links li a {
  text-decoration: none; /* Ensure non-active links have no underline */
  color: #333; /* Default color */
}

.nav-links li a:hover {
  color: #007bff; /* Optional: Change color on hover */
}


.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem; /* Increase spacing between buttons */
}

.get-started-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 1rem; /* Add margin to the right for extra spacing */

  
}

.get-started-btn:hover {
  background-color: #0056b3;
}

.theme-toggle-btn {
 
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: .6rem;
  cursor: pointer;
  display: flex;
  align-items: center;

}

.theme-toggle-btn:hover {
  opacity: 0.8;
}